body { 
  color: #9b111e;
  background: url(photos/Background.jpg)
}


header {
  text-align: center;
}

/*Navigation Bar*/
.nav {
  background-color: none;
  padding: 20px;
  list-style-type: none;
  text-align: left;
}
.nav li {
  display: inline-block;
  font-size: 30px;
  padding: 0px, 25px, 0px, 25px;
}


