html {
  color: #ffffff63;
}

body { 
  background-color: #2a4c5d;
}


header {
  text-align: center;
}

/*Navigation Bar*/
.nav {
  background-color: none;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}
.nav li {
  display: inline-block;
  font-size: 30px;
  padding: 0px, 25px, 0px, 25px;

 }
.nav a {
    color: ;
}
.nav a:visited {
    color: ;
}
.nav a:hover {
    color: ;
  }
.nav a:active {
    color: ;
}



