*,
*::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;

  }

html { 
 
  /**** Fills page with gradient color mix, scales it, centers it, no scroll bar, cross-browser compatible****/
  background:
  no-repeat center center fixed
  linear-gradient(
  #ff8a00, 
  #d53030  
  );
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /****Font family for whole page****/
  font-family: Lucida Grande, Arial, Sans-serif;
}

h1 {
  font-family: Lucida Grande, Arial, Sans-serif;
}

/*Navigation Bar*/
.nav li {
  display: inline-block;
 }
.nav a {
  text-decoration: none;
}
.nav a:hover {
    color: #fff;
    background-color: #f57615;
    border-radius: 5% 30%;
  }
.nav a:active {
    color: #cacaca;
}
  nav {
    box-shadow: inset  0 0 34px 13px #feffff99;
    font-size: 2rem;
    text-shadow: 2px 1px 6px black;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: .8rem;
    padding: 1rem;
  }
  .nav-text {
    padding: .5rem;
  }

/*****Works hyperlink list*****/
.works a {
  text-decoration: none;
}

.works {
  padding: 1.5rem;;
  color: #ff9f05;
  font-size: 2rem;
}

/***Footer***/
  footer {
     position: fixed;
     left: 0;
     bottom: 0;
     height: 30px;
     width: 100%;
     background: #980202f7;
     padding: .25rem;
     font-size: .8rem;
     text-align: center;
   }

   span {
     font-weight: bold;
   }
   /***Stiched look links -code snippet from css-tricks***/
 .works a {
   padding: 20px;
   margin: 5px;
   background: #0000007d;
   font-size: .9rem;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #00000061, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
}
.works a:hover {
  color: #080080;
}
.works a:focus {
  color: #000;
}
/** Before 500px **/
  @media screen and (max-width: 499px) {  
   h1 {
    font-size: 1.5rem;
    padding: 1rem;
    text-shadow: 1px 2px 0 black;
  }

    nav {
      line-height: 1.4;
      font-size: 1.5rem;
    }
    nav ul {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    }
    .nav a {
      border: 3px solid #EA5F31;
      border-radius: 20%;
      padding: .1rem;
    }

   }
/** After screen passes 500px **/ 
  @media screen and (min-width: 500px) {
    .short-about {
      width: 75%;
      padding: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0 0 15px 12px black;
    }
    h1 {
      text-align: center;
      margin: 2rem;
      padding: .5rem;
      border: 1px solid black;
      box-shadow: 7px 6px black;
      background-color: #e65527;
          }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    }
    nav {
      margin-left: auto;
      margin-right: auto;
    }
    section {
      display: flex;
      justify-content: center;
    }
    section ul {
    list-style-type: none;
    }
    .works a {
      font-size: 1.3rem
    }
  }

  @media screen and (min-width: 700px) {
   section ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    }
    .works {
      margin-top: 5rem;
    }
  }
